{% extends 'website/layout.html' %}

{% block main %}
    <h1 style="margin-bottom: 35px; color:darkgreen ">Sugestões da Semana:</h1>
    <h3>Jardim Botânico da Ajuda</h3>
    <p>O Jardim Botânico da Ajuda foi o primeiro jardim botânico em Portugal! Podemos encontrar diversas espécies de plantas oriundas dos quatro cantos do mundo, apreciamos também uma das mais belas vistas de Lisboa!</p>
    <h3>Jardim Da Fundação Gulbenkian</h3>
    <p>O Jardim da Fundação Gulbenkian é um oásis de natureza e tranquilidade na cidade de Lisboa, o lugar perfeito para fugir da rotina e da confusão da cidade. O espaço conta com uma história que atravessa vários séculos.</p>
{% endblock %}
